body { 
    width: 95%;
    max-width: 800px;
    margin: auto;
    background: url(../img/Chamas.jpg) center;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
main {
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 20px;
    background: #00000054;
}
.logo, .head-line, .band-name {
    margin: 0;
    text-align: center;
}
.concerts {
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

.concerts table {
    background: #00000054;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}
